<h1> Fishing Spots to Steal</h1>

<div class="textbox">
<dl>
  <% @tweets.each do |tweet| %>
     <% if tweet[:geo] && tweet[:place]%>
      <dt>Fisherperson:<dt/>
        <dd><a href="http://www.twitter.com/<%= tweet[:user][:screen_name] %>"><img src="<%= tweet[:profile_image_url] %>" height="50" width="50"></a></dd>   
        <dt>Tweet:</dt>
          <dd><%="#{tweet.from_user}: #{tweet.text}" %><dd/>  
        <dt>Coordinates:</dt>  
          <dd><%= tweet[:geo][:coordinates] %><dd>
        <dt>Location Name:</dt>   
          <dd><%= tweet[:place][:full_name] %>,  <%= tweet[:place][:country] %></dd>
        <dt>Fishing Spot on Map:</dt>
          <dd><a class="spot" href='/fishing_spot/<%= tweet[:user][:screen_name] %>/<%= tweet[:geo][:coordinates].first %>/<%= tweet[:geo][:coordinates].last%> '>Fishing Spot</a></dd>
    
    <% end %>
  <% end %>
</dl>

<a href='/'>Home</a>




